extends layout

block content
    header.game-name
        img(src='https://pm1.aminoapps.com/6393/1b8459b5e0526cc9aad9520edad831d4cde8c9fa_00.jpg' width="336" height="120")
    div.top-body
        nav.main-items
            div.both-items
                ul.left-items
                    li
                        a(href='#') Home
                    li
                        a(href='#') Play
                    li
                        a Cards
                        a.dont-display Everything Here
                        ul.dropdown-content
                            div.border-content Card Stuff:
                                li.content
                                    a(href='#') Decks
                                li.content
                                    a(href='#') Crafting
                                li.content
                                    a(href='#') Friendship
                                li.content
                                    a(href='#') Hub
                ul.right-items
                    li
                        a (PROFILE STUFF I GUESS)
                        ul.dropdown-content
                            div.border-content Settings
                                li.content
                                    a(href='#') Profile
                                li.content
                                    a(href='#') History
                            div.border-content Customize
                                li.content
                                    a(href='#') Avatars
                                li.content
                                    a(href='#') Card Skins
                                li.content
                                    a(href='#') Profiles
                                li.content
                                    a(href='#') Frame Skins
                            div.border-content Other
                                li.content
                                    a(href='#') Settings
                        li
                            a(href='#') Sign Out
    div.container
