extends layout

block content
    div.decks1-stuff
        div.decks1-part1
            h3 Players
            a(href='/players/add') Add New Player

        table.decks1-part2
            thead
                tr
                    th User
                    th
            tbody
                each player in players
                    tr
                        td=player.username
                        td
                            a(href=`/decks/${player.id}`) View Player Deck