extends layout

block content
    header.game-name
        img(src='https://media.discordapp.net/attachments/860255587089776653/1188363477073526784/image.png?ex=659a40bb&is=6587cbbb&hm=82c3feffa525712e02f6c0f3aa07cabacfa5a6c1fcfd46cef57cf00690e21de9&=&format=webp&quality=lossless&width=1267&height=286' width="336" height="120")
    div.top-body
        nav.main-items
            div.both-items
                ul.left-items
                    li
                        a(href='/') Home
                    li
                        a(href='/crafting') Play
                ul.right-items
                    li
                        a(href='/signin') Sign in
                    li
                        a(href='/register') Register
    h1 Mail
    h3 To contact us, please direct an email towards:
    ul
        a.email(href='mailto:Feruzzy2008@gmail.com') FakeEmailBecauseYes.com
    footer
        div.legal-bottom-body
            nav.main-items
                div.both-items
                    ul.left-items
                        li Kirbycards © 2023
                        li Kirbycards by Fernando Ortega
                    ul.right-items
                        li
                            a About Us
                            a.dont-display Everything
                            ul.dropdown-content-up
                                div.border-content About Us
                                    li.content
                                        a(href='/staff') Staff
                                    li.content
                                        a(href='/legal') Legal
                                    li.content
                                        a(href='/mail') Mail