extends layout

block content
    header.game-name
        img(src='https://media.discordapp.net/attachments/860255587089776653/1188363477073526784/image.png?ex=659a40bb&is=6587cbbb&hm=82c3feffa525712e02f6c0f3aa07cabacfa5a6c1fcfd46cef57cf00690e21de9&=&format=webp&quality=lossless&width=1267&height=286' width="336" height="120")
    div.top-body
        nav.main-items
            div.both-items
                ul.left-items
                    li
                        a(href='/') Home
                    li
                        a(href='/crafting') Play
                ul.right-items
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/register') Register
    h2.sign-in Register
    form.allinfo(method="post" action="register")
        div.form-info
            label(for='username') Username:
        input.info(name='username' id='username' type='text' autocomplete="off")
        div.form-info
            label(for='mail') E-Mail:
        input.info(name='mail' id='mail' type='text' autocomplete="off")
        div.form-info
            label(for='mailconfirm') E-Mail (confirm):
        input.info(name='mailconfirm' id='mailconfirm' type='text' autocomplete="off")
        div.form-info
            label(for='password') Password:
        input.info(name='password' id='password' type='text' autocomplete="off")
        div.form-info
            label(for='passwordconfirm') Password (confirm):
        input.info(name='passwordconfirm' id='passwordconfirm' type='text' autocomplete="off")
        div.form-info
            input(name='terms' id='terms' type='checkbox')
            label(for='terms') You agree to our
                a(href='#') Terms and Conditions
        button(type='submit') Submit
    h4 Already have an account?
        a(href='/signin') Log in
    footer
        div.top-body
            nav.main-items
                div.both-items
                    ul.left-items
                        li Kirbycards © 2023
                        li Kirbycards by Fernando Ortega
                    ul.right-items
                        li
                            a About Us
                            a.dont-display Everything
                            ul.dropdown-content-up
                                div.border-content About Us
                                    li.content
                                        a(href='#') Staff
                                    li.content
                                        a(href='#') Legal
                                    li.content
                                        a(href='#') Mail