body {
  padding: 50px;
  font: 14px "Gill Sans", sans-serif;
  background-image: url('https://i.pinimg.com/originals/9a/2a/a3/9a2aa3ccba5c3bce83e2e3f0a607c147.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
header{
  display:flex;
  justify-content: center;
}
.bottom-body{
  position: relative;
  margin-top: 115px;
}
.legal-bottom-body{
  position: relative;
  margin-top: 300px;
}
.main-items{
  border: 3px solid #ea0404;
  min-height: 50px;
  height: 50px;
  margin: 5px;
}
.both-items{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -12px;
}
.left-items{
  display: flex;
  padding: 8px;
}
.right-items{
  display: flex;
  padding: 8px;
}
nav li{
  list-style: none;
  color: #ffffff;
  margin: 0;
  position: relative;
  padding: 8px;
  display: flex;
  height: 50px;
  font-weight: bold;
}
.welcome-message{
  border: 3px solid #ea0404;
  min-height: 20px;
  height: 20px;
  margin: 5px;
  padding: 8px;
}
.allimages{
  display:flex;
  align-items: center;
  margin-left: 100px;
  justify-content: space-evenly;
  padding:8px;
}
.game-img1{
  border: 3px solid #ea0404;
  min-height: 103px;
  height: 100px;
}
.game-img2{
  border: 3px solid #ea0404;
  min-height: 103px;
  height: 100px;
  margin-left: 10px;
}
.game-img3{
  border: 3px solid #ea0404;
  min-height: 103px;
  height: 100px;
  margin-left: 10px;
}
.game-img4{
  border: 3px solid #ea0404;
  min-height: 103px;
  height: 100px;
  margin-left: 10px;
}
.game-img5{
  border: 3px solid #ea0404;
  min-height: 103px;
  height: 100px;
  margin-left: 10px;
}
.match{
  display:flex;
  align-items: center;
  margin-left: 100px;
  padding:8px;
  justify-content: space-between;
  margin-top: -4px;
}
.allmatches{
  border: 3px solid #ea0404;
  min-height: 50px;
  height: 50px;
  margin: 5px;
}
.left-info-match{
  display:flex;
  padding: 8px;
}
.soul-img{
  margin-left: 8px;
}
.user{
  margin-left: 8px;
}
.avatar-img{
  margin-left: 8px;
}
.lvl{
  margin-left: 8px;
}
.tr{
  display: table-row;
}
.left-info-match{
  display:flex;
  align-items: flex-start;
}
.center-info-match{
  display:flex;
  padding: 8px;
}
.right-info-match{
  display:flex;
  padding: 8px;
}
.dropdown-content{
  position: absolute;
  top: 55px;
  width: 100%;
  display: none;
  z-index: 20;
  height: 50px;
}

nav li:hover .dropdown-content {
  display: block;
  position: absolute;
  top: 45px;
}
.dropdown-content a {
  font-weight: bold;
}
.dropdown-content ul {
  flex-direction: column;
}
.everything{
  border: 3px solid #ea0404;
  min-height: 50px;
  height: 50px;
  margin: 5px;
  float: left;
}
.allinfo{
  font-family: dtm-mono, serif;
  font-size: 18px;
  padding: 8px;
}
.sign-in{
  padding: 4px;
  font-family: dtm-mono, serif;
  font-size: 32px;
}
.form-info{
  height: 30px;
}
.info{
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;
  min-height: 20px;
  height: 34px;
  width: 25%;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav a, nav a:visited {
  text-decoration: none;
  width: 100%;
  padding: 2px 0;
  color: white;
}
nav a:hover, nav a.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  height: 70%;
}
.dropdown-content {
  position: absolute;
  top: 55px;
  width: 150px;
  display: none;
  z-index: 20;
  height: 50px;
}
.dropdown-content-up {
  position: absolute;
  margin-bottom: 100px;
  bottom: 82px;
  width: 100px;
  display: none;
  z-index: 20;
  height: 50px;
}
.dropdown-content-up ul {
  flex-direction: column;
}
.dropdown-content-up a {
  font-weight: bold;
}
nav li:hover .dropdown-content-up {
  display: block;
}
nav li:hover .dropdown-content {
  display: block;
}
.border-content{
  border: 1px solid white;
  position: relative;
  color: gray;
  padding: 12px;
  font-size: 14px;
  background-color: black;
}
.dropdown-content a {
  font-weight: bold;
}
.dropdown-content ul {
  flex-direction: column;
}

/*.content {
  list-style: none;
  color: antiquewhite;
  background-color: black;
  margin: 0;
  flex: 1;
  min-width: 20px;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 20px;
  font-weight: bold;
  border: 5px solid black;
}*/
.content{
  list-style: none;
  color: #ffffff;
  margin: 0;
  position: relative;
  padding: 8px;
  display: flex;
  height: 25px;
  font-weight: bold;
}
.bottom-content{
  height: 16px;
  position: absolute;
  right: 12px;
  top: 165px;
  z-index: 8;
}
.dont-display{
  visibility: hidden;
}
.container{
  padding: 48px;
  font: 14px "Gill Sans", sans-serif;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.card{
  background: black;
  border: 2px solid white;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.card-image{
  width: 100%;
  height: 125px;
  justify-content: center;
  margin-left: 40px;
}
.card-title{
  position: absolute;
  width: 116px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  left: 8px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 5;
}
.card-cost{
  width: 40px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  color: #00d0ff;
  position: absolute;
  left: 170px;
  z-index: 5;
}
.line-1{
  width: 2px;
  height: 5px;
  margin-bottom: 50px;
  text-align: center;
  position: absolute;
  left: 150px;
  z-index: 1;

}
.card-body{
  padding: 24px;
  color: #111827;
}
.dmg{
  margin-left: 24px;
  font-size: 20px;
  color: red;
}
.hp{
  margin-right: 24px;
  font-size: 20px;
  color: green;
}
.rarity-img{

}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  height: 30px;
}
.last-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-top: 2px solid white;
}
.stat3{
  margin-left: 160px;
}
.card-description{
  margin-top: 16px;
  border-top: 2px solid white;
  min-height: 24px;
  height: 100px;
}
.staff-stuff{
  background-color: rgba(17, 24, 39, 0.25);
}
.admin-stuff{
  display:flex;
  align-items: center;
}
.email{
  font-size: 16px;
}
a {
  color: #00B7FF;
}
.Common{
  background: black;
  flex-wrap: wrap;
  border: 2px solid white;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.Rare{
  background: black;
  flex-wrap: wrap;
  border: 2px solid #29ceff;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.Epic{
  background: black;
  flex-wrap: wrap;
  border: 2px solid #b829ff;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.Legendary{
  background: black;
  flex-wrap: wrap;
  border: 2px solid #d2b723;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.DT{
  background: black;

  animation: changeBackgroundColor 3s infinite;
  flex-wrap: wrap;
  border: 2px solid #d91124;
  width: 225px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0.1) 0 1px 3px 0,
          rgba(0,0,0,0.06) 0 1px 2px 0;

}
.header{
  font-size: 18px;
}
.input{
  height: 50px;
  min-height: 200px;
  width:200px;
}
@keyframes changeBackgroundColor {
  0% {
    background-color: rgba(255, 0, 0, 0.5);

  }
  25%{    background-color: rgba(0, 255, 0, 0.45)
  }


  50% {
    background-color: rgba(0, 0, 255, 0.45);

  }
  70%{
    background-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    background-color: rgba(98, 0, 255, 0.56);
  }
}

.allcontainer{
  display: flex;
  position: relative;
}
.decks1-stuff{
  font-size: 20px;
}
.decks1-part1{
  display:block;
}
.decks1-part2{
  border-radius: 12px;
  display:block;
  width: 250px;
  background-color: #383838;
}

