extends ../layout1

block content
    h3 Players
    a(href='/players/add') Add New Player
    table
        thead
            tr
                th User
                th Pass
                th Email
                th
        tbody
            each player in players
                tr
                    td=player.username
                    td=player.password
                    td=player.email
                    td
                        a(href=`/players/profile/${player.id}`) View Player Profile